<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- navbar use with partials --}}
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- lef side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="err">
                            <img src="images/003.png" alt="hamda" class="img-fluid">
                        </figure>
                        
                        <H2>{{errmsg}}</H2>
                        <a href="/"><button>get lost bruh</button></a>
                    </div>
                    <!-- right side div -->
                   
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>