<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- navbar use with partials --}}
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- lef side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/004_ccexpress.png" alt="hamda" class="img-fluid">
                        </figure>
                        </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the 4Cast</p>
                        <h1>I am a <span>Web Developer</span> a <span>NOOB</span> one</h1>
                        <a href="https://www.linkedin.com/in/syedmehmood1015/" target="_yo"><button>Check Now</button></a>
                    </div>
                    <!-- right side div -->
                   
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>